openapi: 3.1.0
info:
  description: |
    # GPRO Public API Documentation
  title: GPRO App Public API
  version: '1.0.0'
  x-logo:
    url: 'https://gpro.net/images/partnerprogram/staticbanners/300x250.jpg'
    altText: GPRO logo
servers:
  - url: https://gpro.net
tags:
  - name: Public Endpoints
    description: No Bearer Token required
  - name: Private Endpoints
    description: Bearer Token required



paths:

  # Public Endpoints (no Bearer Token required)

  /backend/api/Login.asp:
    post:
      tags: 
        - Public Endpoints
      operationId: Login
      description: Login to GPRO
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LoginRequest'       
      responses:
        '200':
          description: Successful Login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginSuccess'
        '401':
          description: Failed Login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginFail'
  /backend/api/GetLang.asp:
    post:
      tags: 
        - Public Endpoints
      operationId: GetLang
      description: Obtain user's selected language
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LangRequest'
      responses:
        default:
          description: Successful Language Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LangResponse'


  # Private Endpoints (Bearer Token required)

  /backend/api/MenuV2.asp:
    get:
      tags: 
        - Private Endpoints
      operationId: MenuV2
      description: Retrieving all menu elements
      security:
        - Bearer: []
      responses:
        '200':    
          description: Menu Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuResponse'
  /backend/api/Tracks.asp:
    get:
      tags:
        - Private Endpoints
      operationId: AvailableTracks
      description: Retrieving All Available Tracks Preview Data
      security:
        - Bearer: []  
      responses:
        '200':
          description: All tracks response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracksResponse'
  /{lang}/backend/api/office.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    get:
      tags: 
        - Private Endpoints
      operationId: Office
      description: Retrieving all office elements
      security:
        - Bearer: []
      responses:
        '200':    
          description: Office Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficeResponse' 
  /{lang}/backend/api/UpdateCar.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    get:
      tags: 
        - Private Endpoints
      operationId: GetCar
      description: Retrieving car parts data for update
      security:
        - Bearer: []
      responses:
        '200':
          description: Car Update Get Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarReponse'
  /{lang}/backend/api/Practice.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    get:
      tags: 
        - Private Endpoints
      operationId: GetPractice
      description: Retrieve practice data
      security:
        - Bearer: []
      responses:
        '200':
          description: Practice Lap Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PracticeResponse'    
  /{lang}/backend/api/Qualify2.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    get:
      tags: 
        - Private Endpoints
      operationId: GetQ2Lap
      description: Retrieve Qualy2 data
      security:
        - Bearer: []
      responses:
        '200':
          description: Qualy2 Lap Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Qualy2Response'    
  /{lang}/backend/api/Testing.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    get:
      tags: 
        - Private Endpoints
      operationId: GetTesting
      description: Retrieve Testing Stints data
      security:
        - Bearer: []
      responses:
        '200':
          description: Testing Stints Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestingResponse'    
  /{lang}/backend/api/TrackProfile.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    post:
      tags: 
        - Private Endpoints
      operationId: GetTrack
      description: Retrieve Track Profile data
      security:
        - Bearer: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TrackProfileRequest'
      responses:
        '200':
          description: Track Profile Data Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackProfileResponse'
  /{lang}/backend/api/AvailDrivers.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    get:
      tags:
        - Private Endpoints
      operationId: AvailDriversGet
      description: >
        Using GET method with no reequest body will return a 1 page, 20 drivers long response, descending order, from the 78-85OA range
      security:
        - Bearer: []      
      responses:
        '200':
          description: Available Drivers Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailDriversResponse'        
    post:
      tags:
        - Private Endpoints
      operationId: AvailDriversPost
      description: >
        While it is possible to send an empty form and obtain a response, it's the equivalent of sending the GET request with no request body.<br>
        The recommendation is to use it with at least MinOA and MaxOA.<br>
        Sorting is optional (Sort, Sort2, Sort3).<br>
        The rest of the form fields are filters.<br>
        To get the full market, make a first request with maximum OA range, then use the pageCount in the response to loop through all pages using 'Page' in the request form.
      security:
        - Bearer: []
      requestBody:
        required: True
        content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/AvailDriversRequest'
      responses:
        '200':
          description: Available Drivers Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailDriversResponse'         
  /{lang}/backend/api/DriProfile.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    post:
      tags: 
        - Private Endpoints
      operationId: GetDriverProfile
      description: Retrieve Driver Profile data
      security:
        - Bearer: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DriverProfileRequest'
      responses:
        '200':
          description: Driver Profile Data Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverProfileResponse'
  /{lang}/backend/api/AvailTDs.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'    
    get:
      tags:
        - Private Endpoints
      operationId: AvailTDsGet
      description: >
        Using GET method with no request body will return a 1 page, 20 TDs long response, descending order, from the 1-90OA range
      security:
        - Bearer: []      
      responses:
        '200':
          description: Available TDs Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailTDsResponse'        
    post:
      tags:
        - Private Endpoints
      operationId: AvailTDsPost
      description: >
        While it is possible to send an empty form and obtain a response, it's the equivalent of sending the GET request with no request body.<br>
        The recommendation is to use it with at least MinOA and MaxOA.<br>
        Sorting is optional (Sort).<br>
        The rest of the form fields are filters.<br>
        To get the full market, make a first request with maximum OA range, then use the pageCount in the response to loop through all pages using 'Page' in the request form.
      security:
        - Bearer: []
      requestBody:
        required: True
        content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/AvailTDsRequest'
      responses:
        '200':
          description: Available TDs Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailTDsResponse'     
  /{lang}/backend/api/TDProfile.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    post:
      tags: 
        - Private Endpoints
      operationId: GetTDProfile
      description: Retrieve TD Profile data
      security:
        - Bearer: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TDProfileRequest'
      responses:
        '200':
          description: Driver Profile Data Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TDProfileResponse'
  /{lang}/backend/api/Calendar.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    get:
      tags:
        - Private Endpoints
      operationId: GetCalendar
      description: Retrieving Current and Next Season Calendar for the group of the Token's account.
      security:
        - Bearer: []  
      responses:
        '200':
          description: Calendar Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarResponse'
    # Pick any group 
    post:
      tags:
        - Private Endpoints
      operationId: GetGroupCalendar
      description: |
        Request Body is optional
        - If the endpoint is called without the request body, it'll return the calendar for the group of the Token's account.
        - If the account is inactive, it'll return Elite's calendar.
        - If called with the request body, it'll return the chosen's group calendar.
      security:
        - Bearer: []
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CalendarRequest'      
      responses:
        '200':
          description: Calendar Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarResponse'
  /{lang}/backend/api/NegOverview.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    get:
      tags:
        - Private Endpoints
      operationId: NegOverview
      description: Retrieving Currently Signed Sponsors and Ongoing Negotiations
      security:
        - Bearer: []  
      responses:
        '200':
          description: Negotiations Overview Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NegOverviewResponse'  
  /{lang}/backend/api/AvailSponsors.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    get:
      tags:
        - Private Endpoints
      operationId: GetAvailSponsors
      description: Retrieving Available Sponsors for user's group
      security:
        - Bearer: []  
      responses:
        '200':
          description: Available Sponsors Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableSponsorsResponse'  
    post:
      tags:
        - Private Endpoints
      operationId: PostAvailSponsors
      description: Retrieving Available Sponsors for selected group
      security:
        - Bearer: [] 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AvailableSponsorsRequest'  
      responses:
        '200':
          description: Available Sponsors Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableSponsorsResponse'  
  /{lang}/backend/api/NegotiateSponsor.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    post:
      tags: 
        - Private Endpoints
      operationId: NegoSponsor
      description: Retrieve Sponsor's profile
      security:
        - Bearer: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NegoSponsorRequest'
      responses:
        '200':
          description: Negotiate with Sponsor Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NegoSponsorResponse'
  /{lang}/backend/api/RaceSetup.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    get:
      tags:
        - Private Endpoints
      operationId: GetRaceSetup
      description: Retrieve Race Setup Options
      security:
        - Bearer: []  
      responses:
        '200':
          description: Race Setup Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaceSetupResponse'  
  /{lang}/backend/api/StaffAndFacilities.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    get:
      tags:
        - Private Endpoints
      operationId: GetFacilities
      description: Facilities
      security:
        - Bearer: []  
      responses:
        '200':
          description: Facilities Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/S&FResponse'  
  /{lang}/backend/api/RaceAnalysis.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    post:
      tags: 
        - Private Endpoints
      operationId: PostRaceAnalysis
      description: >
        It'll return the race specified in the request body (if available).<br>
        If called without a request body, it'll return most reecent race analysis.
      security:
        - Bearer: []
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RaceAnalysisRequest'
      responses:
        '200':
          description: S&F Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaceAnalysisResponse' 
  /{lang}/backend/api/RaceReplay.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    post:
      tags: 
        - Private Endpoints
      operationId: GetRaceReplay
      description: Retrieves Race Replay Data
      security:
        - Bearer: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RaceReplayRequest'
      responses:
        '200':
          description: > 
            Race Replay Response<br>
            Response is in the tens of thousands lines of data, scroll until the end under your own responsibility.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaceReplayResponse'   
  /{lang}/backend/api/EconomyHistory.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    get:
      tags:
        - Private Endpoints
      operationId: GetEconomyHistory
      description: Get Economy History, defaults to 1st page of table format.
      security:
        - Bearer: []  
      responses:
        '200':
          description: Economy History Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EconomyHistoryResponse'  
    post:
      tags: 
        - Private Endpoints
      operationId: PostEconomyHistory
      description: > 
        Retrieves Economy History with Request Body.<br>
        Request body is optional, if not sent, response will default to 1st page of Table.
      security:
        - Bearer: []
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EconomyHistoryRequest'
      responses:
        '200':
          description: Economy History Response
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/EconomyHistoryResponse'
                  - $ref: '#/components/schemas/EconomyHistoryGraphResponse'
                  - $ref: '#/components/schemas/EconomyHistoryESGraphResponse'
  /{lang}/backend/api/QStandingsV3.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    post:
      tags: 
        - Private Endpoints
      operationId: PostQualyStandings
      description: Retrieve Qualy Standings and Starting Grid
      security:
        - Bearer: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/QualyStandingsRequest'
      responses:
        '200':
          description: Economy History Response
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Qualy1StandingsResponse'
                  - $ref: '#/components/schemas/Qualy2StandingsResponse'
                  - $ref: '#/components/schemas/StartingGridResponse'
  /{lang}/backend/api/QualifyStats.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    get:
      tags:
        - Private Endpoints
      operationId: GetQualyStats
      description: Get qualy statistics.
      security:
        - Bearer: []  
      responses:
        '200':
          description: Qualy Statistics Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualyStatsResponse'    
  /{lang}/backend/api/TestingStandingsV2.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    get:
      tags:
        - Private Endpoints
      operationId: GetTestingStandings
      description: Get Testing Standings
      security:
        - Bearer: []  
      responses:
        '200':
          description: Testing Standings Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestingStandingsResponse' 
    post:
      tags: 
        - Private Endpoints
      operationId: PostTestingStandings
      description: Retrieve Testing Standings by Group
      security:
        - Bearer: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TestingStandingsRequest'
      responses:
        '200':
          description: Testing Standings Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestingStandingsResponse' 
  /{lang}/backend/api/Standings.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    get:
      tags:
        - Private Endpoints
      operationId: GetStandings
      description: Get Standings from Token's group
      security:
        - Bearer: []  
      responses:
        '200':
          description: Standings Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandingsResponse' 
    post:
      tags: 
        - Private Endpoints
      operationId: PostStandings
      description: Retrieve Standings by Selected Group<br>
        If called without request body, it'll return Token's group.
      security:
        - Bearer: []
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/StandingsRequest'
      responses:
        '200':
          description: Standings Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandingsResponse' 
  /{lang}/backend/api/TyreSuppliers.asp:
    parameters:
      - $ref: '#/components/parameters/LangParameter'
    get:
      tags:
        - Private Endpoints
      operationId: GetTyreSuppliers
      description: Get Tyre Suppliers
      security:
        - Bearer: []  
      responses:
        '200':
          description: Tyre Suppliers Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TyreSuppliersResponse' 




components:
    parameters:
      LangParameter:
        name: lang
        in: path
        description: Language code selected by the user
        required: true
        schema:
          $ref: '#/components/schemas/LangOptions'
    securitySchemes:
      Bearer:
        type: http
        scheme: bearer
        bearerFormat: JWT    
    
    schemas:

      # Other Schemas

      LangOptions:
        type: string
        enum: ['gb', 'bg', 'de', 'es', 'ro', 'it', 'pt', 'fr', 'pl', 'ru', 'pi', 'br', 'tr', 'be', 'fi', 'lt', 'cz', 'hu', 'mk', 'nl', 'ee', 'sk', 'rs', 'al', 'gr', 'hr', 'my', 'dk'] 
      Groups:
        type: string
        enum:
          - 'Elite'
          - 'Master - 1'
          - 'Master - 2'
          - 'Master - 3'
          - 'Master - 4'
          - 'Master - 5'
          - 'Pro - 1'
          - 'Pro - 2'
          - 'Pro - 3'
          - 'Pro - 4'
          - 'Pro - 5'
          - 'Pro - 6'
          - 'Pro - 7'
          - 'Pro - 8'
          - 'Pro - 9'
          - 'Pro - 10'
          - 'Pro - 11'
          - 'Pro - 12'
          - 'Pro - 13'
          - 'Pro - 14'
          - 'Pro - 15'
          - 'Pro - 16'
          - 'Pro - 17'
          - 'Pro - 18'
          - 'Pro - 19'
          - 'Pro - 20'
          - 'Pro - 21'
          - 'Pro - 22'
          - 'Pro - 23'
          - 'Pro - 24'
          - 'Pro - 25'
          - 'Amateur - 1'
          - 'Amateur - 2'
          - 'Amateur - 3'
          - 'Amateur - 4'
          - 'Amateur - 5'
          - 'Amateur - 6'
          - 'Amateur - 7'
          - 'Amateur - 8'
          - 'Amateur - 9'
          - 'Amateur - 10'
          - 'Amateur - 11'
          - 'Amateur - 12'
          - 'Amateur - 13'
          - 'Amateur - 14'
          - 'Amateur - 15'
          - 'Amateur - 16'
          - 'Amateur - 17'
          - 'Amateur - 18'
          - 'Amateur - 19'
          - 'Amateur - 20'
          - 'Amateur - 21'
          - 'Amateur - 22'
          - 'Amateur - 23'
          - 'Amateur - 24'
          - 'Amateur - 25'
          - 'Amateur - 26'
          - 'Amateur - 27'
          - 'Amateur - 28'
          - 'Amateur - 29'
          - 'Amateur - 30'
          - 'Amateur - 31'
          - 'Amateur - 32'
          - 'Amateur - 33'
          - 'Amateur - 34'
          - 'Amateur - 35'
          - 'Amateur - 36'
          - 'Amateur - 37'
          - 'Amateur - 38'
          - 'Amateur - 39'
          - 'Amateur - 40'
          - 'Amateur - 41'
          - 'Amateur - 42'
          - 'Amateur - 43'
          - 'Amateur - 44'
          - 'Amateur - 45'
          - 'Amateur - 46'
          - 'Amateur - 47'
          - 'Amateur - 48'
          - 'Amateur - 49'
          - 'Amateur - 50'
          - 'Amateur - 51'
          - 'Amateur - 52'
          - 'Amateur - 53'
          - 'Amateur - 54'
          - 'Amateur - 55'
          - 'Amateur - 56'
          - 'Amateur - 57'
          - 'Amateur - 58'
          - 'Amateur - 59'
          - 'Amateur - 60'
          - 'Amateur - 61'
          - 'Amateur - 62'
          - 'Amateur - 63'
          - 'Amateur - 64'
          - 'Amateur - 65'
          - 'Amateur - 66'
          - 'Amateur - 67'
          - 'Amateur - 68'
          - 'Amateur - 69'
          - 'Amateur - 70'
          - 'Amateur - 71'
          - 'Amateur - 72'
          - 'Amateur - 73'
          - 'Amateur - 74'
          - 'Amateur - 75'
          - 'Amateur - 76'
          - 'Amateur - 77'
          - 'Amateur - 78'
          - 'Amateur - 79'
          - 'Amateur - 80'
          - 'Rookie - 1'
          - 'Rookie - 2'
          - 'Rookie - 3'
          - 'Rookie - 4'
          - 'Rookie - 5'
          - 'Rookie - 6'
          - 'Rookie - 7'
          - 'Rookie - 8'
          - 'Rookie - 9'
          - 'Rookie - 10'
          - 'Rookie - 11'
          - 'Rookie - 12'
          - 'Rookie - 13'
          - 'Rookie - 14'
          - 'Rookie - 15'
          - 'Rookie - 16'
          - 'Rookie - 17'
          - 'Rookie - 18'
          - 'Rookie - 19'
          - 'Rookie - 20'
          - 'Rookie - 21'
          - 'Rookie - 22'
          - 'Rookie - 23'
          - 'Rookie - 24'
          - 'Rookie - 25'
          - 'Rookie - 26'
          - 'Rookie - 27'
          - 'Rookie - 28'
          - 'Rookie - 29'
          - 'Rookie - 30'
          - 'Rookie - 31'
          - 'Rookie - 32'
          - 'Rookie - 33'
          - 'Rookie - 34'
          - 'Rookie - 35'
          - 'Rookie - 36'
          - 'Rookie - 37'
          - 'Rookie - 38'
          - 'Rookie - 39'
          - 'Rookie - 40'
          - 'Rookie - 41'
          - 'Rookie - 42'
          - 'Rookie - 43'
          - 'Rookie - 44'
          - 'Rookie - 45'
          - 'Rookie - 46'
          - 'Rookie - 47'
          - 'Rookie - 48'
          - 'Rookie - 49'
          - 'Rookie - 50'
          - 'Rookie - 51'
          - 'Rookie - 52'
          - 'Rookie - 53'
          - 'Rookie - 54'
          - 'Rookie - 55'
          - 'Rookie - 56'
          - 'Rookie - 57'
          - 'Rookie - 58'
          - 'Rookie - 59'
          - 'Rookie - 60'
          - 'Rookie - 61'
          - 'Rookie - 62'
          - 'Rookie - 63'
          - 'Rookie - 64'
          - 'Rookie - 65'
          - 'Rookie - 66'
          - 'Rookie - 67'
          - 'Rookie - 68'
          - 'Rookie - 69'
          - 'Rookie - 70'
          - 'Rookie - 71'
          - 'Rookie - 72'
          - 'Rookie - 73'
          - 'Rookie - 74'
          - 'Rookie - 75'
          - 'Rookie - 76'
          - 'Rookie - 77'
          - 'Rookie - 78'
          - 'Rookie - 79'
          - 'Rookie - 80'
          - 'Rookie - 81'
          - 'Rookie - 82'
          - 'Rookie - 83'
          - 'Rookie - 84'
          - 'Rookie - 85'
          - 'Rookie - 86'
          - 'Rookie - 87'
          - 'Rookie - 88'
          - 'Rookie - 89'
          - 'Rookie - 90'
          - 'Rookie - 91'
          - 'Rookie - 92'
          - 'Rookie - 93'
          - 'Rookie - 94'
          - 'Rookie - 95'
          - 'Rookie - 96'
          - 'Rookie - 97'
          - 'Rookie - 98'
          - 'Rookie - 99'
          - 'Rookie - 100'
          - 'Rookie - 101'
          - 'Rookie - 102'
          - 'Rookie - 103'
          - 'Rookie - 104'
          - 'Rookie - 105'
          - 'Rookie - 106'
          - 'Rookie - 107'
          - 'Rookie - 108'
          - 'Rookie - 109'
          - 'Rookie - 110'
          - 'Rookie - 111'
          - 'Rookie - 112'
          - 'Rookie - 113'
          - 'Rookie - 114'
          - 'Rookie - 115'
          - 'Rookie - 116'
          - 'Rookie - 117'
          - 'Rookie - 118'
          - 'Rookie - 119'
          - 'Rookie - 120'
          - 'Rookie - 121'
          - 'Rookie - 122'
          - 'Rookie - 123'
          - 'Rookie - 124'
          - 'Rookie - 125'
          - 'Rookie - 126'
          - 'Rookie - 127'
          - 'Rookie - 128'
          - 'Rookie - 129'
          - 'Rookie - 130'
          - 'Rookie - 131'
          - 'Rookie - 132'
          - 'Rookie - 133'
          - 'Rookie - 134'
          - 'Rookie - 135'
          - 'Rookie - 136'
          - 'Rookie - 137'
          - 'Rookie - 138'
          - 'Rookie - 139'
          - 'Rookie - 140'
          - 'Rookie - 141'
          - 'Rookie - 142'
          - 'Rookie - 143'
          - 'Rookie - 144'
          - 'Rookie - 145'
          - 'Rookie - 146'
          - 'Rookie - 147'
          - 'Rookie - 148'
          - 'Rookie - 149'
          - 'Rookie - 150'
      GroupsArray:
        type: array
        items:
          type: object
          properties:
            name:
              type: string
            value:
              type: string
      ExtendedGroups:
        type: string
        example: 'all'
        description: |
          <u>Key:</u><br>
          - `all:` All Groups.
          - `m:` All Master Groups.
          - `p:` All Pro Groups.
          - `a:` All Amateur Groups.
          - `r:` All Rookie Groups.
        allOf: 
          - enum: [all, m, p, a]
          - $ref: '#/components/schemas/Groups'  
      Manager:
        type: object
        properties:
          idm:
            type: integer
          fn:
            type: string
          ln:
            type: string
          cups:
            type: integer
          group:
            type: string
          cpath:
            type: string
      SortDriver:    
        type: string
        enum: ['Overall', 'Con', 'Tal', 'Aggresiven', 'Exp', 'TechInsight', 'Stamina', 'Charisma', 'Motivation', 'Reputation', 'Weight', 'Age', 'Sal', 'SignFee']
        example: Overall
      SortTD:    
        type: string
        enum: ['Overall', 'Leadership', 'Mechanics', 'Electronics', 'Aerodynamics', 'Exp', 'PitStop','Motivation', 'Age', 'Salary', 'SignFee']
        example: Overall
      AgeDriRange:
        type: string
        enum: ['', '0', '1', '2', '3', '4', '5']
        description: >
          <u>Key</u><br>
          `'': Any`<br>
          `'0': 17-20`<br>
          `'1': 21-24`<br>
          `'2': 25-28`<br>
          `'3': 29-32`<br>
          `'4': 33-36`<br>
          `'5': 37+`<br>
        example: '1'
      AgeTDRange:
        type: string
        enum: ['', '0', '1', '2', '3', '4', '5']
        description: >
          <u>Key</u><br>
          `'': Any`<br>
          `'0': 35-`<br>
          `'1': 36-49`<br>
          `'2': 50-64`<br>
          `'3': 65-74`<br>
          `'4': 75-79`<br>
          `'5': 80+`<br>
        example: '1'
      ExpRange:
        type: string
        enum: ['0', '1', '2', '3', '4', '5', '6']
        description: >
          <u>Key</u><br>
          `'': Any`<br>
          `'0': 0-49`<br>
          `'1': 50-99`<br>
          `'2': 100-149`<br>
          `'3': 150-199`<br>
          `'4': 200-250`<br>
          `'5': 250-300`<br>
          `'6': 350+`<br>
        example: '1'
      MinSalRange:
        type: string
        enum: ['', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']
        description: >
          <u>Key</u><br>
          `'': Any`<br>
          `'0': '1-0.5M'`<br>
          `'1': '0.5M-1M'`<br>
          `'2': '1M-1.5M'`<br>
          `'3': '1.5M-2M'`<br>
          `'4': '2M-2.5M'`<br>
          `'5': '2.5M-3M'`<br>
          `'6': '3M-3.5M'`<br>
          `'7': '3.5M-4M'`<br>
          `'8': '4M-4.5M'`<br>
          `'9': '4.5M-5M'`<br>
          `'10': '5M-5.5M'`<br>
          `'11': '5.5M-6M'`<br>
          `'12': '6M+'`<br>
        example: '1'
      OffRange:
        type: string
        enum: ['', '0', '1', '2', '3', '4']
        description: >
          <u>Key</u><br>
          `'': Any`<br>
          `'0': '0'`<br>
          `'1': '1'`<br>
          `'2': '2'`<br>
          `'3': '3'`<br>
          `'4': '4+'`<br>
        example: '1'
      SkillRange:
        type: string
        enum: ['', '0', '1', '2', '3', '4']
        description: >
          <u>Key</u><br>
          `'': Any`<br>
          `'0': 0-49`<br>
          `'1': 50-99`<br>
          `'2': 100-149`<br>
          `'3': 150-199`<br>
          `'4': 200-250`<br>
        example: '1'
      WeiRange:
        type: string
        enum: ['', '0', '1', '2', '3', '4', '5']
        description: >
          <u>Key</u><br>
          `'': Any`<br>
          `'0': 40-59`<br>
          `'1': 60-79`<br>
          `'2': 80-99`<br>
          `'3': 100-119`<br>
          `'4': 120-139`<br>
          `'5': 140+`<br>
        example: '1'
   
   

      # Requests and Responses Schemas

      LoginRequest:
        type: object
        properties:
          email:
            type: string
            example: name@domain.com
          password:
            type: string
            example: hhPss!0Ps
        required:
          - email
          - password
      LoginSuccess:
        type: object
        properties:
          message: 
            type: string
            example: Successful login.
          jwt: 
            type: string
            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MTIzNDU2Nzg5LCJuYW1lIjoiSm9zZXBoIn0.OpOSSw7e485LOP5PrzScxHb7SR6sAOMRckfFwi4rp7o
          platform: 
            type: string
            example: web
          email:
            type: string
            example: name@domain.com
      LoginFail:
        type: object
        properties:
          message:
            type: string
            example: Login failed.
          email:
            type: string
            example: name@domain.com
      LangRequest:
        type: object
        properties:
          auto:
            type: integer
            enum:
              - 0
              - 1
            description: >
                Use `1` only at the start of a new user session to detect their language.<br>
                Save the language to a cookie to avoid detecting it again.<br>
                Set `auto` to `0` for subsequent requests within the session.<br>
                Make sure you include the langCode after the domain and<br>
                before the end point URL for every next call after obtaining it<br>
                `example: https://gpro.net/gb/api/backend/News.asp`<br>
        required:
          - auto
      LangResponse:
        type: object
        properties:
          langCode:
            type: string
            example: gb
          strings:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                  example: 'home'
                value:
                  type: string
                  example: 'Home'
      CarReponse:
        type: object
        properties:
          loadingDataState:
            type: string
            description: State of data loading
            example: "1"
          carPower:
            type: integer
            description: Car power level
            example: 13
          carHandl:
            type: integer
            description: Car handling level
            example: 13
          carAccel:
            type: integer
            description: Car acceleration level
            example: 13
          lvlChassis:
            type: integer
            description: Chassis level
            example: 1
          lvlBrakes:
            type: integer
            description: Brakes level
            example: 1
          lvlCooling:
            type: integer
            description: Cooling level
            example: 1
          lvlElectronics:
            type: integer
            description: Electronics level
            example: 1
          lvlEngine:
            type: integer
            description: Engine level
            example: 1
          lvlFWing:
            type: integer
            description: Front wing level
            example: 1
          lvlRWing:
            type: integer
            description: Rear wing level
            example: 1
          lvlGear:
            type: integer
            description: Gear level
            example: 1
          lvlSidepods:
            type: integer
            description: Sidepods level
            example: 1
          lvlSusp:
            type: integer
            description: Suspension level
            example: 1
          lvlUnderbody:
            type: integer
            description: Underbody level
            example: 1
          usaBrakes:
            type: integer
            description: Brakes usage
            example: 0
          usaChassis:
            type: integer
            description: Chassis usage
            example: 0
          usaCooling:
            type: integer
            description: Cooling usage
            example: 0
          usaElectronics:
            type: integer
            description: Electronics usage
            example: 0
          usaEngine:
            type: integer
            description: Engine usage
            example: 0
          usaFWing:
            type: integer
            description: Front wing usage
            example: 0
          usaGear:
            type: integer
            description: Gear usage
            example: 0
          usaRWing:
            type: integer
            description: Rear wing usage
            example: 0
          usaSidepods:
            type: integer
            description: Sidepods usage
            example: 0
          usaSusp:
            type: integer
            description: Suspension usage
            example: 0
          usaUnderbody:
            type: integer
            description: Underbody usage
            example: 0
          canRepair:
            type: integer
            description: Flag indicating if repair is possible
            example: 1
          canUndo:
            type: integer
            description: Flag indicating if undo is possible
            example: 0
          endOfSeason:
            type: integer
            description: Flag indicating if it's the end of the season
            example: 0
          raceInProgress:
            type: integer
            description: Flag indicating if a race is in progress
            example: 0
          updateInProgress:
            type: integer
            description: Flag indicating if an update is in progress
            example: 0
          chassisOptions:
            type: array
            items:
              type: object
              properties:
                value:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 0
                    cost:
                      type: integer
                      example: 0
                newLvl:
                  type: string
                  example: "1"
                newWear:
                  type: string
                  example: "0"
                disabled:
                  type: string
                  example: "false"
                text:
                  type: string
                  example: "Don't replace"
          engineOptions:
            type: array
            items:
              type: object
              properties:
                value:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 0
                    cost:
                      type: integer
                      example: 0
                newLvl:
                  type: string
                  example: "1"
                newWear:
                  type: string
                  example: "0"
                disabled:
                  type: string
                  example: "false"
                text:
                  type: string
                  example: "Don't replace"
          fWingOptions:
            type: array
            items:
              type: object
              properties:
                value:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 0
                    cost:
                      type: integer
                      example: 0
                newLvl:
                  type: string
                  example: "1"
                newWear:
                  type: string
                  example: "0"
                disabled:
                  type: string
                  example: "false"
                text:
                  type: string
                  example: "Don't replace"          
          rWingOptions:
            type: array
            items:
              type: object
              properties:
                value:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 0
                    cost:
                      type: integer
                      example: 0
                newLvl:
                  type: string
                  example: "1"
                newWear:
                  type: string
                  example: "0"
                disabled:
                  type: string
                  example: "false"
                text:
                  type: string
                  example: "Don't replace"
          underbodyOptions:
            type: array
            items:
              type: object
              properties:
                value:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 0
                    cost:
                      type: integer
                      example: 0
                newLvl:
                  type: string
                  example: "1"
                newWear:
                  type: string
                  example: "0"
                disabled:
                  type: string
                  example: "false"
                text:
                  type: string
                  example: "Don't replace"
          sidepodsOptions:
            type: array
            items:
              type: object
              properties:
                value:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 0
                    cost:
                      type: integer
                      example: 0
                newLvl:
                  type: string
                  example: "1"
                newWear:
                  type: string
                  example: "0"
                disabled:
                  type: string
                  example: "false"
                text:
                  type: string
                  example: "Don't replace"
          coolingOptions:
            type: array
            items:
              type: object
              properties:
                value:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 0
                    cost:
                      type: integer
                      example: 0
                newLvl:
                  type: string
                  example: "1"
                newWear:
                  type: string
                  example: "0"
                disabled:
                  type: string
                  example: "false"
                text:
                  type: string
                  example: "Don't replace"
          gearOptions:
            type: array
            items:
              type: object
              properties:
                value:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 0
                    cost:
                      type: integer
                      example: 0
                newLvl:
                  type: string
                  example: "1"
                newWear:
                  type: string
                  example: "0"
                disabled:
                  type: string
                  example: "false"
                text:
                  type: string
                  example: "Don't replace"
          brakesOptions:
            type: array
            items:
              type: object
              properties:
                value:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 0
                    cost:
                      type: integer
                      example: 0
                newLvl:
                  type: string
                  example: "1"
                newWear:
                  type: string
                  example: "0"
                disabled:
                  type: string
                  example: "false"
                text:
                  type: string
                  example: "Don't replace"
          suspOptions:
            type: array
            items:
              type: object
              properties:
                value:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 0
                    cost:
                      type: integer
                      example: 0
                newLvl:
                  type: string
                  example: "1"
                newWear:
                  type: string
                  example: "0"
                disabled:
                  type: string
                  example: "false"
                text:
                  type: string
                  example: "Don't replace"
          electronicsOptions:
            type: array
            items:
              type: object
              properties:
                value:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 0
                    cost:
                      type: integer
                      example: 0
                newLvl:
                  type: string
                  example: "1"
                newWear:
                  type: string
                  example: "0"
                disabled:
                  type: string
                  example: "false"
                text:
                  type: string
                  example: "Don't replace"
          selectedBrakes:
            type: object
            properties:
              value:
                type: integer
                example: 0
              cost:
                type: integer
                example: 0
          selectedChassis:
            type: object
            properties:
              value:
                type: integer
                example: 0
              cost:
                type: integer
                example: 0
          selectedCooling:
            type: object
            properties:
              value:
                type: integer
                example: 0
              cost:
                type: integer
                example: 0
          selectedElectronics:
            type: object
            properties:
              value:
                type: integer
                example: 0
              cost:
                type: integer
                example: 0
          selectedEngine:
            type: object
            properties:
              value:
                type: integer
                example: 0
              cost:
                type: integer
                example: 0
          selectedFWing:
            type: object
            properties:
              value:
                type: integer
                example: 0
              cost:
                type: integer
                example: 0
          selectedGear:
            type: object
            properties:
              value:
                type: integer
                example: 0
              cost:
                type: integer
                example: 0
          selectedRWing:
            type: object
            properties:
              value:
                type: integer
                example: 0
              cost:
                type: integer
                example: 0
          selectedSidepods:
            type: object
            properties:
              value:
                type: integer
                example: 0
              cost:
                type: integer
                example: 0
          selectedSusp:
            type: object
            properties:
              value:
                type: integer
                example: 0
              cost:
                type: integer
                example: 0
          selectedUnderbody:
            type: object
            properties:
              value:
                type: integer
                example: 0
              cost:
                type: integer
                example: 0
          totalCosts:
            type: integer
            example: 0
          undoCompleted:
            type: integer
            example: 0
          carUpdated:
            type: integer
            example: 0
          cash:
            type: integer
            example: 25183484
          showCarUpdateAlert:
            type: boolean
            example: false
          showUndoAlert:
            type: boolean
            example: false
          showUndoAlertCredits:
            type: boolean
            example: false
          showUndoAlertNoCredits:
            type: boolean
            example: false
          credits:
            type: number
            example: 2033.28
          races:
            type: integer
            example: 177
      MenuResponse:
        type: object
        properties:
          IDM:
            type: integer
            example: 1
          staticContentServer:
            type: string
            example: "https://gpro.net/gb"
          credits:
            type: number
            example: 2033.28
          email:
            type: string
            example: ""
          fName:
            type: string
            example: "Vladimir"
          lName:
            type: string
            example: "Alexandrov"
          natCode:
            type: string
            example: "bg"
          group:
            type: string
            example: "Rookie - 3"
          groupShort:
            type: string
            example: "R3"
          class:
            type: string
            example: "Ro"
          accStatus:
            type: string
            example: "Not activated"
          accStatusId:
            type: integer
            example: 5
          cash:
            type: integer
            example: 25183484
          champs:
            type: integer
            example: 0
          picPath:
            type: string
            example: "/ManagerPics/1_20220423185356.jpg"
          teamId:
            type: integer
            example: 51
          teamCredits:
            type: number
            example: -0.19
          driverId:
            type: integer
            example: 0
          friends:
            type: array
            items:
              type: integer
              example: 2
          muted:
            type: array
            items:
              type: integer
              example: 50
          teammates:
            type: array
            items:
              type: integer
              example: 50
      OfficeResponse:
        type: object
        properties:
          loadingDataState:
            type: integer
            example: 1
          seasonNb:
            type: string
            example: "95"
          raceNb:
            type: string
            example: "6"
          trackId:
            type: string
            example: "43"
          endOfSeason:
            type: integer
            example: 0
          activateTeamStatus:
            type: integer
            example: -1
          accStatusId:
            type: integer
            example: 5
          accStatus:
            type: string
            example: ""
          nextSeasonResetDate:
            type: string
            example: "Dec 30th"
          updateInProgress:
            type: integer
            example: 0
          progress:
            type: integer
            example: 100
          trackName:
            type: string
            example: "Irungattukottai"
          trackNatCode:
            type: string
            example: "in"
          secondsLeft:
            type: string
            example: "91544"
          secondsLeftQual:
            type: string
            example: "86144"
          donePractice:
            type: string
            example: "0"
          doneQ1:
            type: string
            example: "0"
          doneQ2:
            type: string
            example: "0"
          doneRaceSetup:
            type: string
            example: "0"
          doneDriTrain:
            type: string
            example: "0"
          doneStaffTrain:
            type: string
            example: "0"
          doneCarRepair:
            type: string
            example: "0"
          doneFacilitiesUpdate:
            type: string
            example: "0"
          doneTesting:
            type: string
            example: "0"
          testingStints:
            type: string
            example: "0"
          sponsorsAlert:
            type: integer
            example: 0
          sponsorsNoNeg:
            type: integer
            example: 1
          tyreSupplierId:
            type: integer
            example: 1
          driName:
            type: string
            example: ""
          driOA:
            type: string
            example: ""
          driRacesLeft:
            type: string
            example: "0"
          driSalary:
            type: string
            example: "0"
          driEnergy:
            type: string
            example: "0"
          driId:
            type: string
            example: ""
          tdName:
            type: string
            example: ""
          tdOA:
            type: string
            example: ""
          tdRacesLeft:
            type: string
            example: ""
          tdSalary:
            type: string
            example: ""
          tdId:
            type: string
            example: ""
          isCertified:
            type: string
            example: "1"
          champs:
            type: string
            example: "0"
          activationPixelFired:
            type: string
            example: "1"
          pts:
            type: string
            example: "0"
          pos:
            type: string
            example: "35"
          avg:
            type: string
            example: "5000"
          newQualifiersQ1:
            type: integer
            example: 1
          newQualifiersQ2:
            type: integer
            example: 1
          qual1Pos:
            type: string
            example: "-"
          qual1Diff:
            type: string
            example: "88554"
          qual1LapTime:
            type: string
            example: ""
          qual2Pos:
            type: string
            example: "-"
          qual2Diff:
            type: string
            example: "91579"
          qual2LapTime:
            type: string
            example: ""
          qualSGPos:
            type: string
            example: "-"
          qualSGDiff:
            type: string
            example: "181083"
          qualSGLapTime:
            type: string
            example: ""
          teamForumUnreadTopics:
            type: integer
            example: 0
          forumUnreadCount:
            type: integer
            example: 1
          unreadAnnouncements:
            type: integer
            example: 0
          warnStatus:
            type: integer
            example: 0
          accViolationStatus:
            type: integer
            example: 0
          statusTxt:
            type: string
            example: ""
          emailNeedsUpdate:
            type: string
            example: ""
          emailConfirmed:
            type: integer
            example: 1
          noFreeSpots:
            type: integer
            example: 0
          showTutorial:
            type: boolean
            example: false
          needRefresh:
            type: integer
            example: 0
          cash:
            type: integer
            example: 25183484
      PracticeResponse:
        type: object
        properties:
          loadingDataState:
            type: integer
            example: 1
          segmentSelected:
            type: string
            example: "driveLaps"
          trackName:
            type: string
            example: "Oesterreichring"
          trackId:
            type: integer
            example: 24
          trackImg:
            type: string
            example: "/images/tracks/track_oesterreichring_au.gif"
          trackNat:
            type: string
            example: "at"
          trackPower:
            type: string
            example: "19"
          trackAccel:
            type: string
            example: "9"
          trackHandl:
            type: string
            example: "14"
          carPower:
            type: string
            example: "13"
          carHandl:
            type: string
            example: "13"
          carAccel:
            type: string
            example: "13"
          lvlChassis:
            type: string
            example: "1"
          lvlBrakes:
            type: string
            example: "1"
          lvlCooling:
            type: string
            example: "1"
          lvlElectronics:
            type: string
            example: "1"
          lvlEngine:
            type: string
            example: "1"
          lvlFWing:
            type: string
            example: "1"
          lvlRWing:
            type: string
            example: "1"
          lvlGear:
            type: string
            example: "1"
          lvlSidepods:
            type: string
            example: "1"
          lvlSusp:
            type: string
            example: "1"
          lvlUnderbody:
            type: string
            example: "1"
          cash:
            type: integer
            example: 17740727
          usaBrakes:
            type: string
            example: "0"
          usaChassis:
            type: string
            example: "0"
          usaCooling:
            type: string
            example: "0"
          usaElectronics:
            type: string
            example: "0"
          usaEngine:
            type: string
            example: "0"
          usaFWing:
            type: string
            example: "0"
          usaGear:
            type: string
            example: "0"
          usaRWing:
            type: string
            example: "0"
          usaSidepods:
            type: string
            example: "0"
          usaSusp:
            type: string
            example: "0"
          usaUnderbody:
            type: string
            example: "0"
          setFWing:
            type: integer
            example: 888
          setRWing:
            type: integer
            example: 888
          setEngine:
            type: integer
            example: 888
          setBrakes:
            type: integer
            example: 888
          setGear:
            type: integer
            example: 888
          setSusp:
            type: integer
            example: 888
          setRisk:
            type: string
            example: "1"
          setDryTyres:
            type: string
            example: "1"
          weather:
            type: object
            properties:
              q1Weather:
                type: string
                example: "Cloudy"
              q1WeatherTransl:
                type: string
                example: "Cloudy"
              q1Temp:
                type: integer
                example: 39
              q1Hum:
                type: integer
                example: 65
              q2Weather:
                type: string
                example: "Cloudy"
              q2WeatherTransl:
                type: string
                example: "Cloudy"
              q2Temp:
                type: integer
                example: 39
              q2Hum:
                type: integer
                example: 62
              raceQ1TempLow:
                type: integer
                example: 36
              raceQ1TempHigh:
                type: integer
                example: 39
              raceQ1HumLow:
                type: integer
                example: 62
              raceQ1HumHigh:
                type: integer
                example: 69
              raceQ1RainPLow:
                type: integer
                example: 0
              raceQ1RainPHigh:
                type: integer
                example: 10
              raceQ2TempLow:
                type: integer
                example: 35
              raceQ2TempHigh:
                type: integer
                example: 39
              raceQ2HumLow:
                type: integer
                example: 63
              raceQ2HumHigh:
                type: integer
                example: 70
              raceQ2RainPLow:
                type: integer
                example: 10
              raceQ2RainPHigh:
                type: integer
                example: 15
              raceQ3TempLow:
                type: integer
                example: 37
              raceQ3TempHigh:
                type: integer
                example: 42
              raceQ3HumLow:
                type: integer
                example: 64
              raceQ3HumHigh:
                type: integer
                example: 73
              raceQ3RainPLow:
                type: integer
                example: 0
              raceQ3RainPHigh:
                type: integer
                example: 5
              raceQ4TempLow:
                type: integer
                example: 37
              raceQ4TempHigh:
                type: integer
                example: 41
              raceQ4HumLow:
                type: integer
                example: 62
              raceQ4HumHigh:
                type: integer
                example: 72
              raceQ4RainPLow:
                type: integer
                example: 0
              raceQ4RainPHigh:
                type: integer
                example: 5
          showWeatherPopover:
            type: object
            properties:
              open:
                type: boolean
                example: false
              event:
                type: string
                example: null
          lapsDone:
            type: array
            items:
              type: object
              properties:
                idx:
                  type: integer
                  example: 1
                lapTime:
                  type: string
                  example: "1:38.451"
                netTime:
                  type: string
                  example: "1:36.810"
                misTime:
                  type: string
                  example: "1.641"
                lapTimeColor:
                  type: string
                  example: ""
                netTimeColor:
                  type: string
                  example: ""
                mistakeColor:
                  type: string
                  example: ""
                driComments:
                  type: array
                  items:
                    type: object
                    properties:
                      part:
                        type: string
                        example: "Wings"
                      text:
                        type: string
                        example: "I cannot drive the car, there's no grip on it"
                driCommentsCount:
                  type: integer
                  example: 5
                setFWing:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 123
                    color:
                      type: string
                      example: "red"
                    comment:
                      type: string
                      example: "I cannot drive the car, there's no grip on it"
                  example:
                    value: 123
                    color: "red"
                    comment: "I cannot drive the car, there's no grip on it"
                setRWing:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 123
                    color:
                      type: string
                      example: "red"
                    comment:
                      type: string
                      example: "I cannot drive the car, there's no grip on it"
                  example:
                    value: 123
                    color: "red"
                    comment: "I cannot drive the car, there's no grip on it"
                setEngine:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 123
                    color:
                      type: string
                      example: "red"
                    comment:
                      type: string
                      example: "You should try to favor a lot more the high revs"
                  example:
                    value: 123
                    color: "red"
                    comment: "You should try to favor a lot more the high revs"
                setBrakes:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 123
                    color:
                      type: string
                      example: "red"
                    comment:
                      type: string
                      example: "I would feel a lot more comfortable to move the balance to the front"
                  example:
                    value: 123
                    color: "red"
                    comment: "I would feel a lot more comfortable to move the balance to the front"
                setGear:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 123
                    color:
                      type: string
                      example: "red"
                    comment:
                      type: string
                      example: "It feels like the engine is going to explode. Put a lot higher ratio between the gears"
                  example:
                    value: 123
                    color: "red"
                    comment: "It feels like the engine is going to explode. Put a lot higher ratio between the gears"
                setSusp:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 123
                    color:
                      type: string
                      example: "red"
                    comment:
                      type: string
                      example: "The suspension rigidity should be a lot higher"
                  example:
                    value: 123
                    color: "red"
                    comment: "The suspension rigidity should be a lot higher"
                setTyres:
                  type: string
                  example: "Soft"
          showComment1Popover:
            type: object
            properties:
              open:
                type: boolean
                example: false
              event: 
                type: string
                example: null
              content:
                type: string
          endOfSeason:
            type: integer
            example: 0
          selectedLap:
            type: integer
            example: 8
          bestNetLapIdx:
            type: integer
            example: 2
          raceInProgress:
            type: integer
            example: 0
          showError:
            type: integer
            example: 0
          errorMsg:
            type: string
            example: ''
          disableDriveButton:
            type: integer
            example: 0
          tyresInvalid:
            type: integer
            example: 0
          fWingInvalid:
            type: integer
            example: 0
          rWingInvalid:
            type: integer
            example: 0
          engInvalid:
            type: integer
            example: 0
          braInvalid:
            type: integer
            example: 0
          gearInvalid:
            type: integer
            example: 0
          suspInvalid:
            type: integer
            example: 0
          q1LapData:
            type: object
            properties:
              lapTime:
                type: string
                example: '1:35.940'
              setFWing:
                type: string
                example: '888'
              setRWing:
                type: string
                example: '888'
              setEng:
                type: string
                example: '888'
              setBra:
                type: string
                example: '888'
              setGear:
                type: string
                example: '888'
              setSusp:
                type: string
                example: '888'
              setTyres:
                type: string
                example: 'Extra Soft'
              setRisk:
                type: string
                example: 'Push the car a little'
              q1Pos:
                type: string
                example: '10th'
              q1Gap:
                type: string
                example: '5.426'
          isSupporter:
            type: integer
            example: 1
          setTyres:
            type: string
            example: '1'
      Qualy2Response:
        type: object
        properties:
          loadingDataState:
            type: integer
            example: 1
          segmentSelected:
            type: string
            example: "driveLaps"
          trackName:
            type: string
            example: "Oesterreichring"
          trackNat:
            type: string
            example: "at"
          trackId:
            type: integer
            example: 24
          trackImg:
            type: string
            example: "/images/tracks/track_oesterreichring_au.gif"
          trackPower:
            type: string
            example: "19"
          trackAccel:
            type: string
            example: "9"
          trackHandl:
            type: string
            example: "14"
          carPower:
            type: string
            example: "13"
          carHandl:
            type: string
            example: "13"
          carAccel:
            type: string
            example: "13"
          lvlChassis:
            type: string
            example: "1"
          lvlBrakes:
            type: string
            example: "1"
          lvlCooling:
            type: string
            example: "1"
          lvlElectronics:
            type: string
            example: "1"
          lvlEngine:
            type: string
            example: "1"
          lvlFWing:
            type: string
            example: "1"
          lvlRWing:
            type: string
            example: "1"
          lvlGear:
            type: string
            example: "1"
          lvlSidepods:
            type: string
            example: "1"
          lvlSusp:
            type: string
            example: "1"
          lvlUnderbody:
            type: string
            example: "1"
          usaBrakes:
            type: string
            example: "0"
          usaChassis:
            type: string
            example: "0"
          usaCooling:
            type: string
            example: "0"
          usaElectronics:
            type: string
            example: "0"
          usaEngine:
            type: string
            example: "0"
          usaFWing:
            type: string
            example: "0"
          usaGear:
            type: string
            example: "0"
          usaRWing:
            type: string
            example: "0"
          usaSidepods:
            type: string
            example: "0"
          usaSusp:
            type: string
            example: "0"
          usaUnderbody:
            type: string
            example: "0"
          cash:
            type: integer
            example: 17640727
          setFWing:
            type: string
            example: "555"
          setRWing:
            type: string
            example: "444"
          setEngine:
            type: string
            example: "555"
          setBrakes:
            type: string
            example: "444"
          setGear:
            type: string
            example: "555"
          setSusp:
            type: string
            example: "444"
          setTyres:
            type: string
            example: "1"
          setRisk:
            type: string
            example: "0"
          setFuel:
            type: integer
            example: 180
          setDryTyres:
            type: string
            example: "1"
          weather:
            type: object
            properties:
              q1Weather:
                type: string
                example: "Cloudy"
              q1WeatherTransl:
                type: string
                example: "Cloudy"
              q1Temp:
                type: integer
                example: 39
              q1Hum:
                type: integer
                example: 65
              q2Weather:
                type: string
                example: "Cloudy"
              q2WeatherTransl:
                type: string
                example: "Cloudy"
              q2Temp:
                type: integer
                example: 39
              q2Hum:
                type: integer
                example: 62
              raceQ1TempLow:
                type: integer
                example: 36
              raceQ1TempHigh:
                type: integer
                example: 39
              raceQ1HumLow:
                type: integer
                example: 62
              raceQ1HumHigh:
                type: integer
                example: 69
              raceQ1RainPLow:
                type: integer
                example: 0
              raceQ1RainPHigh:
                type: integer
                example: 10
              raceQ2TempLow:
                type: integer
                example: 35
              raceQ2TempHigh:
                type: integer
                example: 39
              raceQ2HumLow:
                type: integer
                example: 63
              raceQ2HumHigh:
                type: integer
                example: 70
              raceQ2RainPLow:
                type: integer
                example: 10
              raceQ2RainPHigh:
                type: integer
                example: 15
              raceQ3TempLow:
                type: integer
                example: 37
              raceQ3TempHigh:
                type: integer
                example: 42
              raceQ3HumLow:
                type: integer
                example: 64
              raceQ3HumHigh:
                type: integer
                example: 73
              raceQ3RainPLow:
                type: integer
                example: 0
              raceQ3RainPHigh:
                type: integer
                example: 5
              raceQ4TempLow:
                type: integer
                example: 37
              raceQ4TempHigh:
                type: integer
                example: 41
              raceQ4HumLow:
                type: integer
                example: 62
              raceQ4HumHigh:
                type: integer
                example: 72
              raceQ4RainPLow:
                type: integer
                example: 0
              raceQ4RainPHigh:
                type: integer
                example: 5
          showWeatherPopover:
            type: object
            properties:
              open:
                type: boolean
              event:
                type: object
          showComment1Popover:
            type: object
            properties:
              open:
                type: boolean
              event:
                type: object
              content:
                type: string
          endOfSeason:
            type: integer
          selectedLap:
            type: integer
          raceInProgress:
            type: integer
          showError:
            type: integer
          errorMsg:
            type: string
          disableDriveButton:
            type: integer
          tyresInvalid:
            type: integer
          fWingInvalid:
            type: integer
          rWingInvalid:
            type: integer
          engInvalid:
            type: integer
          braInvalid:
            type: integer
          gearInvalid:
            type: integer
          suspInvalid:
            type: integer
          q1LapData:
            type: object
            properties:
              lapTime:
                type: string
                example: "1:35.940"
              setFWing:
                type: string
                example: "888"
              setRWing:
                type: string
                example: "888"
              setEng:
                type: string
                example: "888"
              setBra:
                type: string
                example: "888"
              setGear:
                type: string
                example: "888"
              setSusp:
                type: string
                example: "888"
              setTyres:
                type: string
                example: "Extra Soft"
              setRisk:
                type: string
                example: "Push the car a little"
              q1Pos:
                type: string
                example: "10th"
              q1Gap:
                type: string
                example: "5.426"
          q2LapData:
            type: object
            properties:
              lapTime:
                type: string
                example: "1:41.089"
              setFWing:
                type: string
                example: "555"
              setRWing:
                type: string
                example: "444"
              setEng:
                type: string
                example: "555"
              setBra:
                type: string
                example: "444"
              setGear:
                type: string
                example: "555"
              setSusp:
                type: string
                example: "444"
              setTyres:
                type: string
                example: "Extra Soft"
              setRisk:
                type: string
                example: "Keep the car on the track"
              setFuel:
                type: integer
                example: 180
              q2Pos:
                type: string
                example: "10th"
              q2Gap:
                type: string
                example: "8.957"
          sgLapTime:
            type: string
            example: "3:17.029"
          sgGap:
            type: string
            example: "13.803"
          sgPos:
            type: string
            example: "10th"
          isSupporter:
            type: integer
            example: 1
      TestingResponse:
        type: object
        properties:
          loadingDataState:
            type: integer
            example: 1
          segmentSelected:
            type: string
            example: driveLaps
          trackName:
            type: string
            example: Mugello
          trackNat:
            type: string
            example: it
          trackId:
            type: integer
            example: 28
          trackImg:
            type: string
            example: /images/tracks/track_mugelo_it.gif
          trackPower:
            type: string
            example: 11
          trackAccel:
            type: string
            example: 12
          trackHandl:
            type: string
            example: 13
          carPower:
            type: string
            example: 13
          carHandl:
            type: string
            example: 13
          carAccel:
            type: string
            example: 13
          cash:
            type: integer
            example: 30000000
          lvlChassis:
            type: string
            example: '1'
          lvlBrakes:
            type: string
            example: '1'
          lvlCooling:
            type: string
            example: '1'
          lvlElectronics:
            type: string
            example: '1'
          lvlEngine:
            type: string
            example: '1'
          lvlFWing:
            type: string
            example: '1'
          lvlRWing:
            type: string
            example: '1'
          lvlGear:
            type: string
            example: '1'
          lvlSidepods:
            type: string
            example: '1'
          lvlSusp:
            type: string
            example: '1'
          lvlUnderbody:
            type: string
            example: '1'
          usaBrakes:
            type: string
            example: '0'
          usaChassis:
            type: string
            example: '0'
          usaCooling:
            type: string
            example: '0'
          usaElectronics:
            type: string
            example: '0'
          usaEngine:
            type: string
            example: '0'
          usaFWing:
            type: string
            example: '0'
          usaRWing:
            type: string
            example: '0'
          usaGear:
            type: string
            example: '0'
          usaSidepods:
            type: string
            example: '0'
          usaSusp:
            type: string
            example: '0'
          usaUnderbody:
            type: string
            example: '0'
          setFWing:
            type: integer
            example: 500
          setRWing:
            type: integer
            example: 500
          setEngine:
            type: integer
            example: 500
          setBrakes:
            type: integer
            example: 500
          setGear:
            type: integer
            example: 500
          setSusp:
            type: integer
            example: 500
          setTyres:
            type: string
            example: '1'
          setFuel:
            type: integer
            example: 10
          setPriority:
            type: string
            example: '0'
          setStintLaps:
            type: integer
            example: 5
          weather:
            type: string
            example: Partially Cloudy
          temp:
            type: integer
            example: 35
          hum:
            type: integer
            example: 16
          showWeatherPopover:
            type: object
            properties:
              open:
                type: boolean
                example: false
              event: 
                type: string
                example: null
          stintsDone:
            type: array
            items:
              type: object
              properties:
                idx:
                  type: integer
                  example: 1
                lapsDone:
                  type: string
                  example: '10/10'
                bestLapTime:
                  type: string
                  example: '1:29.791'
                meanLapTime:
                  type: string
                  example: '1:30.669'
                bestLapTimeColor:
                  type: string
                  example: ''
                meanTimeColor:
                  type: string
                  example: ''
                driComments:
                  type: array
                  items:
                    type: object
                    properties:
                      part:
                        type: string
                        example: Wings
                      text:
                        type: string
                        example: 'I am missing a bit of grip in the curves'
                driCommentsCount:
                  type: integer
                  example: 0
                setFWing:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 500
                    color:
                      type: string
                      example: ''
                    comment:
                      type: string
                      example: ''
                setRWing:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 500
                    color:
                      type: string
                      example: ''
                    comment:
                      type: string
                      example: ''
                setEngine:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 500
                    color:
                      type: string
                      example: ''
                    comment:
                      type: string
                      example: ''
                setBrakes:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 500
                    color:
                      type: string
                      example: ''
                    comment:
                      type: string
                      example: ''
                setGear:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 500
                    color:
                      type: string
                      example: ''
                    comment:
                      type: string
                      example: ''
                setSusp:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 500
                    color:
                      type: string
                      example: ''
                    comment:
                      type: string
                      example: ''
                setTyres:
                  type: string
                  example: Hard
                setFuel:
                  type: string
                  example: '180'
                tyreCond:
                  type: string
                  example: '63'
                fuelLeft:
                  type: string
                  example: '137'
                stintPriority:
                  type: string
                  example: 'Top speed'
          lapsLeft:
            type: integer
            example: 100
          stintsLeft:
            type: integer
            example: 10
          TestPPoints:
            type: string
            example: '0'
          TestHPoints:
            type: string
            example: '0'
          TestAPoints:
            type: string
            example: '0'
          RDPPoints:
            type: string
            example: '0'
          RDHPoints:
            type: string
            example: '0'
          RDAPoints:
            type: string
            example: '0'
          EngPPoints:
            type: string
            example: '0'
          EngHPoints:
            type: string
            example: '0'
          EngAPoints:
            type: string
            example: '0'
          TcarPower:
            type: string
            example: '0'
          TcarHandl:
            type: string
            example: '0'
          TcarAccel:
            type: string
            example: '0'
          showComment1Popover:
            type: object
            properties:
              open:
                type: boolean
                example: false
              event: 
                type: string
                example: null
              content:
                type: string
                example: e
          endOfSeason:
            type: integer
            example: 0
          selectedStint:
            type: integer
            example: 1
          raceInProgress:
            type: integer
            example: 0
          showError:
            type: integer
            example: 1
          errorMsg:
            type: string
            example: "&#8226;You don't have a driver, <a href='/markets/drivers'>sign one now</a><br>"
          disableDriveButton:
            type: integer
            example: 1
          fuelInvalid:
            type: integer
            example: 0
          priorityInvalid:
            type: integer
            example: 0
          stintLengthInvalid:
            type: integer
            example: 0
          tyresInvalid:
            type: integer
            example: 0
          fWingInvalid:
            type: integer
            example: 0
          rWingInvalid:
            type: integer
            example: 0
          engInvalid:
            type: integer
            example: 0
          braInvalid:
            type: integer
            example: 0
          gearInvalid:
            type: integer
            example: 0
          suspInvalid:
            type: integer
            example: 0
          isSupporter:
            type: integer
            example: 1
      TrackProfileRequest:
        type: object
        properties:
         id:
          type: string
          example: '28' 
        required:
          - id        
      TrackProfileResponse:
        type: object
        properties:
          loadingDataState:
            type: string
            example: '1'
          location:
            type: string
            example: 'Italy'
          trackName:
            type: string
            example: 'Mugello'
          trackImage:
            type: string
            example: '/images/tracks/track_mugelo_it.gif'
          date:
            type: string
            example: 'Not on calendar'
          power:
            type: string
            example: '11'
          accel:
            type: string
            example: '12'
          handl:
            type: string
            example: '13'
          raceDistance:
            type: string
            example: '304.3'
          laps:
            type: string
            example: '58'
          downforce:
            type: string
            example: 'Medium'
          lapDistance:
            type: string
            example: '5.247'
          overtaking:
            type: string
            example: 'Hard'
          avgSpeed:
            type: string
            example: '251.72'
          suspRigidity:
            type: string
            example: 'Medium'
          gpsHeld:
            type: string
            example: '25'
          fuelConsumption:
            type: string
            example: 'Medium'
          nbTurns:
            type: string
            example: '14'
          tyreWear:
            type: string
            example: 'Medium'
          timeInOutPits:
            type: string
            example: '13.5'
          gripLevel:
            type: string
            example: 'High'
          category:
            type: string
            example: 'ex F1'
          qualRecord:
            type: object
            properties:
              allGroupsSR:
                type: string
                example: 'S44, R13'
              allGroupsDate:
                type: string
                example: 'Nov 28th, 2014'
              allGroupsCountry:
                type: string
                example: 'tr'
              allGroupsLapTime:
                type: string
                example: '1:15.823'
              allGroupsName:
                type: string
                example: '<a href="/profile/7105" class="nobold">Toygun Senler</a> <span class="cup">6</span>'
              masSR:
                type: string
                example: 'S73, R15'
              masDate:
                type: string
                example: 'Dec 20th, 2019'
              masCountry:
                type: string
                example: 'ee'
              masLapTime:
                type: string
                example: '1:17.366'
              masName:
                type: string
                example: '<a href="/profile/465537" class="nobold">Andreas Ramann</a>'
              proSR:
                type: string
                example: 'S73, R15'
              proDate:
                type: string
                example: 'Dec 20th, 2019'
              proCountry:
                type: string
                example: 'br'
              proLapTime:
                type: string
                example: '1:18.298'
              proName:
                type: string
                example: '<a href="/profile/839600" class="nobold">Daniel Rosa</a>'
              amaSR:
                type: string
                example: 'S73, R15'
              amaDate:
                type: string
                example: 'Dec 20th, 2019'
              amaCountry:
                type: string
                example: 'en'
              amaLapTime:
                type: string
                example: '1:19.699'
              amaName:
                type: string
                example: '<a href="/profile/831841" class="nobold">Mike Bennett</a>'
              rooSR:
                type: string
                example: 'S73, R15'
              rooDate:
                type: string
                example: 'Dec 19th, 2019'
              rooCountry:
                type: string
                example: 'fr'
              rooLapTime:
                type: string
                example: '1:23.059'
              rooName:
                type: string
                example: '<a href="/profile/279450" class="nobold">Yann Lebelanger</a>'
          raceRecord:
            type: object
            properties:
              allGroupsSR:
                type: string
                example: 'S90, R11'
              allGroupsDate:
                type: string
                example: 'Nov 25th, 2022'
              allGroupsCountry:
                type: string
                example: 'pl'
              allGroupsLapTime:
                type: string
                example: '1:15.035'
              allGroupsName:
                type: string
                example: '<a href="/profile/231989" class="nobold">Kuba Szajbel</a>'
              masSR:
                type: string
                example: 'S53, R14'
              masDate:
                type: string
                example: 'Jun 28th, 2016'
              masCountry:
                type: string
                example: 'br'
              masLapTime:
                type: string
                example: '1:16.276'
              masName:
                type: string
                example: '<a href="/profile/205978" class="nobold">Pedro Moura</a>'
              proSR:
                type: string
                example: 'S53, R14'
              proDate:
                type: string
                example: 'Jun 28th, 2016'
              proCountry:
                type: string
                example: 'ee'
              proLapTime:
                type: string
                example: '1:16.955'
              proName:
                type: string
                example: '<a href="/profile/188284" class="nobold">Rainer Madalik</a>'
              amaSR:
                type: string
                example: 'S73, R15'
              amaDate:
                type: string
                example: 'Dec 20th, 2019'
              amaCountry:
                type: string
                example: 'hr'
              amaLapTime:
                type: string
                example: '1:19.173'
              amaName:
                type: string
                example: '<a href="/profile/554866" class="nobold">Ivan &#268;i &#263;</a>'
              rooSR:
                type: string
                example: 'S53, R14'
              rooDate:
                type: string
                example: 'Jun 28th, 2016'
              rooCountry:
                type: string
                example: 'fr'
              rooLapTime:
                type: string
                example: '1:20.383'
              rooName:
                type: string
                example: '<a href="/profile/279450" class="nobold">Yann Lebelanger</a>'
          qualRecordWet:
            type: object
            properties:
              allGroupsSR:
                type: string
                example: 'S64, R14'
              allGroupsDate:
                type: string
                example: 'May 22nd, 2018'
              allGroupsCountry:
                type: string
                example: 'en'
              allGroupsLapTime:
                type: string
                example: '1:27.999'
              allGroupsName:
                type: string
                example: '<a href="/profile/323782" class="nobold">Roland Postle</a> <span class="cup">5</span>'
              masSR:
                type: string
                example: 'S56, R10'
              masDate:
                type: string
                example: 'Dec 20th, 2016'
              masCountry:
                type: string
                example: 'fr'
              masLapTime:
                type: string
                example: '1:29.417'
              masName:
                type: string
                example: '<a href="/profile/381136" class="nobold">Mehdi El Fathy</a>'
              proSR:
                type: string
                example: 'S96, R11'
              proDate:
                type: string
[...]
